openapi: 3.0.3
info:
  title: LiquidM Management Ads Budgets API
  version: v1
  description: 'Campaign management API for the LiquidM demand-side platform. The API is organised around campaigns, budgets and ads: a campaign carries currency, unit type, pacing timezone and IAB category; one or more budgets carry the pacing and spend caps; ads bind creative, supply, targeting and setting sections to a campaign. LiquidM publishes an MIT-licensed first-party JavaScript client (lqmapi.js) that exercises this surface, including a dry-run mode that emulates create responses without writing.'
  contact:
    name: LiquidM open source
    email: opensource@liquidm.com
    url: https://github.com/liquidm
  license:
    name: MIT
    url: https://github.com/liquidm/liquidm-management-api/blob/master/LICENSE
  x-apievangelist-provenance:
    generated: '2026-07-19'
    method: generated
    source: https://github.com/liquidm/liquidm-management-api/blob/master/js/lqmapi.js
    note: Generated faithfully from LiquidM's own MIT-licensed first-party JavaScript client. Every path, method, parameter, request body wrapper and response field is taken verbatim from that client's request builders and its dry-run response emulators. Nothing is invented. LiquidM's own README marks this API "Under development"; treat the surface as partial.
servers:
- url: https://platform.liquidm.com/api/v1
  description: LiquidM Management API v1
- url: https://platform.liquidm.com/api/v2
  description: LiquidM Management API v2 prefix, declared by the first-party client. No v2 operations are exercised by the published client.
security:
- authToken: []
tags:
- name: Budgets
paths:
  /budgets:
    post:
      operationId: createBudget
      tags:
      - Budgets
      summary: Create a budget
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - budget
              properties:
                budget:
                  $ref: '#/components/schemas/Budget'
      responses:
        '200':
          description: The created budget.
          content:
            application/json:
              schema:
                type: object
                properties:
                  budget:
                    $ref: '#/components/schemas/Budget'
        '401':
          description: Authentication failed.
components:
  schemas:
    Budget:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        unit_price_cents:
          type: integer
        overall_cents:
          type: integer
          nullable: true
        overall_units:
          type: integer
          nullable: true
        daily_cents:
          type: integer
          nullable: true
        daily_units:
          type: integer
          nullable: true
        overall_units_pacing:
          type: string
          example: optimized
        overall_cents_pacing:
          type: string
          example: optimized
        daily_units_pacing:
          type: string
          example: optimized
        daily_cents_pacing:
          type: string
          example: optimized
        campaign_id:
          type: integer
          nullable: true
        budget_touched:
          type: boolean
          readOnly: true
  securitySchemes:
    authToken:
      type: apiKey
      in: query
      name: auth_token
      description: AUTH_TOKEN passed as a query parameter on every request, including POSTs.
