openapi: 3.2.0
info:
  title: LiquidM Reporting Authentication API
  version: '1.0'
  description: The LiquidM Reporting API provides access to the reporting data that is also available via the reporting user interface in the LiquidM demand-side platform.
  contact:
    name: LiquidM open source
    email: opensource@liquidm.com
    url: https://github.com/liquidm
  x-apievangelist-provenance:
    generated: '2026-07-19'
    method: generated
    source: https://github.com/liquidm/liquidm-reporting-api-client/blob/master/README.md
    note: Generated faithfully from LiquidM's own published Reporting API README and the first-party Ruby client source. No endpoint, parameter, enum value or response field here is invented; every item is documented in that README.
servers:
- url: https://platform.liquidm.com
  description: LiquidM platform (production)
security:
- authToken: []
tags:
- name: Authentication
  description: Auth token issuance for the Reporting API.
paths:
  /api/auth:
    get:
      operationId: createAuthToken
      tags:
      - Authentication
      summary: Issue a Reporting API auth token
      description: Exchange LiquidM platform login credentials for an AUTH_TOKEN used on all subsequent Reporting API requests. Requesting a new token invalidates the previous one.
      parameters:
      - name: email
        in: query
        required: true
        description: LiquidM platform login email.
        schema:
          type: string
          format: email
      - name: password
        in: query
        required: true
        description: LiquidM platform login password.
        schema:
          type: string
          format: password
      - name: api
        in: query
        required: true
        description: Must be true to request an API token.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: An auth token was issued.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed.
components:
  securitySchemes:
    authToken:
      type: apiKey
      in: query
      name: auth_token
      description: AUTH_TOKEN issued by GET /api/auth, passed as a query parameter on every request.
